<div class="page__footer-inner">
  <div class="footer__brand">
    <span class="footer__title">{{ site.title }}</span>
    <span class="footer__sep">&mdash;</span>
    <span class="footer__tagline">{{ site.description }}</span>
  </div>
  <div class="footer__links">
    {% if site.footer.links %}
      {% for link in site.footer.links %}
        {% if link.label and link.url %}
          <a href="{{ link.url }}" rel="nofollow noopener noreferrer"><i class="{{ link.icon | default: 'fas fa-link' }}" aria-hidden="true"></i> {{ link.label }}</a>
        {% endif %}
      {% endfor %}
    {% endif %}
  </div>
  <div class="footer__copyright">
    &copy; {{ site.time | date: '%Y' }} {{ site.name | default: site.title }}
  </div>
</div>
